.btn {
  outline: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0.625rem 1.3rem;
  // padding-right: 1.5rem;
  line-height: 1.2rem;
  font-weight: 600;
  font-size: 0.8125rem;
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
    &:focus, &:active {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &.btn-success {
    background-color: #00BA30 !important;
    &:hover {
      border-color: #00BA30 !important;
    }
  }
  &.btn-primary {
    // background: linear-gradient(135deg, $primary-color1, $primary-color2);
    background-color: $primary-color;
    border: none;
  }
  &.text-sm {
    font-size: 0.8125rem;
    line-height: 1.2rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  &.btn-light {
    border: none;
  }
  &.btn-outline-secondary {
    border-color: $btn-secondary-border-color;
    color: $text-dark;
    &:hover {
      background: none;
      color: $text-dark;
      border-color: $primary-color1;
    }
    &:focus, &:active {
      background: none !important;
      color: $text-dark !important;
    }
  }
  &.btn-pink {
    background-color: #E03664;
    color: #fff;
    font-size: .875rem;
  }
  &.btn-dark-green {
    background-color: #A8A510;
    color: #fff;
    font-size: .875rem;
  }
}

label {
  &.label-primary {
    // background: linear-gradient(135deg, $primary-color1, $primary-color2);
    background: $primary-color;
    border: none;
    color: white;
  }
  &.label-primary-outline {
    border: solid 1px $primary-color1;
    background-color: white;
    color: $primary-color1;
  }
  &.label-secondary {
    background: rgba($text-dark,.7);
    border: none;
    color: white;
  }
}