$header-icon-color-default: #BFCDD9;
$text-dark: #454545;
$text-light: #bbbbbb;
$sidebar-nav-text: #9AAFBB;
// $main-background: #F5F8FA;
$main-background: #F2F8FB;
$switch-background: #E0E2E4;
$switch-background-checked: #00CE61;
$pagination-text-color: #9AAFBB;
$pagination-border-color: #BFCDD9;
$sidebar-overlay-background: rgba(0,0,0,0.05);
$placeholder-icon-color: #BFCDD9;

$upload-wrapper-background: #E9EEF1;
$upload-wrapper-border-color: #E9EEF1;

$primary-color: #3366DE;
$primary-color-light: #557CB0;

$primary-color1: #7400FF;
$primary-color2: #C300FF;

$primary-color3: #535bee;
$primary-color-light: #557CB0;
$primary-color-dark: #495588;
$primary-color-dark2: #667087;
$danger-color: #FC7373;
$danger-color-dark: #dc5959;

$light-grey: #ddd;
$grey-text: #9099B0;
$primary-green: #00C153;
$primary-green-active: #008D30;

$primary-warning: #F1A500;
$primary-warning-dark: #F17B00;

$favourited-icon-color: #ffc107;
$favourited-bg-color: #f9fbe7;
$favourited-border-color: #c5e1a5;
$favourited-avatar-bg: #00C89D;

$main-bg: #F8F8F8;
$default-color: #212529;

$border-color-default: #F1F1F1;
$input-disabled-bg: #F1F1F1;
$btn-secondary-border-color: #E0E2E4;
$input-border-color: #E0E2E4;