.dropdown-toggle {
  &.filter-dropdown-toggle {
    &::after {
      content: none;
    }
    + {
      .dropdown-menu {
        max-height: 15rem;
        overflow-y: auto;
        .dropdown-item {
          font-size: 0.8125rem;
          cursor: pointer;
          &:active {
            background: none;
            color: inherit;
          }
          &:hover {
            background: none;
            color: inherit;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.dropdown-menu {
  &.lead-stages-status-toggle {
    max-height: 15rem;
    overflow-y: auto;
    .dropdown-item {
      font-size: 0.8125rem;
      cursor: pointer;
      text-align: right;
      &:active {
        background: none;
        color: inherit;
        outline: none;
      }
      &:hover {
        background: none;
        color: inherit;
      }
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
}