body, html {
  height: 100%;
}

.lead-channel-list {

  .lead-stage-edit {
    position: absolute;
    right: 1.3rem;
  }

  .ui-sortable-helper {
    border-top: 1px solid rgba(0,0,0,.125) !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.21);
  }
  list-style: none;
  padding: 0;
  margin: 0;
  &.add-new-layout {
    li {
      padding: 1rem .5rem;
      .drag-handle {
        display: inline-block;
      }
      .btn-danger {
        display: block;
      }
    }
  }
  li {  
    position: relative;
    min-height: 52px;
    .status-label {
      position: absolute;
      right: 10.3rem;
      margin: 0;
      width: 103px;
      text-align: center;
      padding: .25rem .5rem;
      font-size: .875rem;
      line-height: 1.5;
      font-weight: 600;
      &.label-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
      }
      &.label-disabled {
        color: #fff;
        background-color: #cacaca;
        border-color: #cacaca;
      }
    }
    &.disabled {
      .drag-handle {
        opacity: .5;
        cursor: not-allowed;
      }
      .btn-danger, .btn-danger:active {
        background-color: #cacaca;
        border-color: #cacaca;
        cursor: not-allowed;
      }
    }
    border: 1px solid rgba(0,0,0,.125);
    border-top: none;
    padding: 1rem 1.3rem;
    background-color: white;
    display: flex;
    align-items: center;
    span{
      &.label, &.input-wrp {
        font-size: .9rem;
        font-weight: 500;
        line-height: .9rem;
      }
      &.input-wrp {
        margin-right: .5rem;
      }
    }
    &.ui-sortable-placeholder {
      visibility: visible !important;
      border-left: none;
      border-right: none;
    }
    .btn-danger {
      display: none;
      padding: 6px;
      border-radius: 3px;
      line-height: 0;
      position: relative;
      &:after {
        content: '';
        width: 70%;
        height: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
      }
    }
  }
  .drag-handle {
    display: none;
    cursor: move;
    position: relative;
    width: 18px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    margin-right: .7rem;
    color: #b9b8b8;
    border-top: solid 1px #b9b8b8;
    width: 20px;
    display: block;
    &:before {
      content: " ";
      border-top: solid 1px #b9b8b8;
      width: 20px;
      display: block;
      margin: 4px 0px;
    }
    &:after {
      content: " ";
      border-top: solid 1px #b9b8b8;
      width: 20px;
      display: block;
      margin: 0 0px;
    }
  }
}


.cost-bearing-item {
  .cost-bearing {
    .accordion {
      .card {
        overflow: visible;
        .card-header {
          .btn {
            &.btn-link {
              position: absolute;
              left: -32px;
              padding: 0;
              background: #e4e4e4;
              padding: 6px;
              font-size: 11px;
              border-radius: 5px;
              line-height: 0;
              color: #7d7d7d;
              text-decoration: none;
            }
          }
        }
        .card-body {
          table {
            thead {
              th {                
                &:first-of-type {
                  min-width: 300px;
                }
                &:nth-of-type(2) {
                  min-width: 300px;
                }
                &:nth-of-type(3) {
                  min-width: 300px;
                }
                &:nth-of-type(4) {
                  min-width: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.contract-based-services {
  .contract-services {
    .accordion {
      .card {
        overflow: visible;
        .card-header {
          .btn {
            &.btn-link {
              position: absolute;
              left: -32px;
              padding: 0;
              background: #e4e4e4;
              padding: 5px;
              font-size: 9px;
              border-radius: 5px;
              line-height: 0;
              color: #7d7d7d;
              text-decoration: none;
              // &.collapsed {
              //   span {
              //     &:after {
              //       content:  "\e91e";
              //       font-family: '#{$icomoon-font-family}'; 
              //     }                  
              //   }
              // }
              // span {
              //   &:after {
              //     content:  "\e91d";
              //     font-family: '#{$icomoon-font-family}'; 
              //   }                  
              // }
            }
          }
        }
        .card-body {
          table {
            thead {
              th {                
                &:first-of-type {
                  min-width: 200px;
                }
                &:nth-of-type(2) {
                  min-width: 200px;
                }
                &:nth-of-type(3) {
                  min-width: 200px;
                }
                &:nth-of-type(4) {
                  min-width: 200px;
                }
                &:nth-of-type(4) {
                  min-width: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}


.nova-leads {
  &.leads {
    padding: 1rem;
    @media (max-width: 767.98px) {
      padding: 1rem;
    }
    .lead-head {
      h3 {
        font-size: 1.3125rem;
      }
      .input-group {
        width: 270px;
        @media (max-width: 767.98px) {
          width: 100%;
        }
        .form-control {
          font-size: 0.8125rem;
        }
      }
      .btn {
        height: 2.25rem;
      }
      .sort-deals {
        p {
          font-size: .75rem;
          color: #6b7785;
        }
        .btn-group {
          .btn {
            padding: .5rem .8rem;
            border-color: #e1e4eb;
            font-size: .9rem;
            background: white !important;
            &:first-of-type {
              border-top-left-radius: 0.25rem;
              border-bottom-left-radius: 0.25rem;
            }
            &:last-of-type {
              border-top-right-radius: 0.25rem;
              border-bottom-right-radius: 0.25rem;
            }
            img {
              width: 17px;
            }
            &.active {
              background: $primary-color !important;
              color: white;
            } 
          }
        }
        select {
          background: transparent;
          padding: 0.5rem .5rem;
          // border-radius: 3px !important;
          border-color: #E1E4EB;
          font-size: .75rem;
          height: 2.25rem;
        }
      }
    }
    .scroll-section {
      .lead-grid-view {
        width: 100%;
        .leads-listing-items {
          min-width: 230px;
          max-width: 380px;
          &:after {
            content: '';
            width: 1px;
            right: 0;
            bottom: 0;
            position: absolute;
            top: 3rem;
            background: #efefef;
            @media (max-width: 575.98px) {
              display: none;
            }
          }       
          &:last-of-type {
            &:after {
              display: none;
            }
          }
          @media (max-width: 575.98px) {
            overflow: inherit;
          }
          &:first-of-type {
            .ui-fixed {
              .right-arrow {
                display: none;
              }
            }
          }

          .ui-fixed {
            padding: 0;
            width: 100%;
            float: left;
            display: block;
            li {
              width: 100%;
              float: left;
              position: relative;
              &:first-of-type {            
                &:before, &:after {
                  display: none;
                }
              }
              .tiltle-head {
                float: left;
                h4 {
                  margin: 0;
                  color: $primary-color3;
                  font-size: 14px;
                  font-weight: 600;
                  padding-bottom: 4px;
                }
                p {
                  font-size: 12px;
                  font-weight: 600;
                  margin-right: .3rem;
                  i {
                    color: #838383;
                    font-weight: 900;
                    font-size: 12px;
                  }
                }  
                small {
                  font-size: 11px;
                  font-weight: 600;
                  color: #a99b9b;
                }      
              }
              i {
                color: #9a9a9a;
                font-weight: 900;
                font-size: 12px;
              }
              &:before {
                content: '';
                width: 0px;
                height: 0px;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid #f8f8f8;
                left: -12px;
                bottom: 0;
                position: absolute;
              }
              &:after {
                content: '';
                width: 0px;
                height: 0px;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid #ffffff;
                left: -12px;
                bottom: 0;
                position: absolute;
              }            
            } 

            .right-arrow {
              position: absolute;
              left: -15px;
              top: 0;
              width: 30px;
              background: #ffffff;
              height: 55px;
              i {
                border: solid #f8f9fa;
                border-width: 0 8px 8px 0;
                display: inline-block;
                padding: 20px;
                transform: rotate(-45deg);
                top: 4px;
                position: relative;
                left: -32px;
              }
              @media (max-width: 575.98px) {
                display: none;
              }
            }

          }
          ul {
            &.sorting-section {
              margin: 0;
              padding: 0;
              width: 100%;
              float: left;  
              overflow-x: auto;
              li {
                margin-bottom: .5rem;
                float: left;
                width: 100%;
                .card { 
                  .card-body {
                    padding: .625rem;
                    .card-data {
                      cursor: pointer;
                      .avatar {
                        width: 35px;
                        height: 35px;
                        min-width: 35px;
                        min-height: 35px;
                        float: left;
                        background-position: 50%;
                        background-size: 100% !important;
                        background-repeat: no-repeat;
                        border-radius: 50%;
                        text-align: center;
                        background: #f2f4f7;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase;
                        font-weight: 600;
                        color: $primary-color3;
                      }
                      .title {
                        width: 100%;
                        margin: 0 0 0 9px;
                        float: left;
                        h5 {
                          font-size: .6875rem;
                          font-weight: 600;
                          color: $primary-color3;
                          margin: 0;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          overflow: hidden;
                          max-width: 140px;
                        }
                        p {
                          font-size: .625rem;
                          font-style: normal;
                          line-height: 20px;
                        }
                        small {
                          font-size: 9px;
                          line-height: 10px;
                          float: left;
                        }
                      }
                      img {
                        width: 20px;
                        margin-left: 2rem;
                        float: left;
                      }
                    }
                  } 
                }
              }      
            }
          }
        }
      }
      .lead-list-view {
        .leads-management-table {
          .table {
            thead {
              th {
                font-size: .75rem;
                @media (max-width: 575.98px) {
                  min-width: 195px;
                }                
              }
            }
            tbody {
              tr {
                cursor: pointer;
                td {
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }

  }



}

.ui-state-highlight:not(.ui-sortable-handle) {
  background-color: #F5F5F9 !important;
  height: 70px;
  border-radius:.5rem;
  border: dashed 1px gray;

}
.ui-sortable-helper {
  box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.3) !important;
} 

.side-bar {
  width: 350px;
  position: fixed;
  z-index: 10;
  top: 3.125rem;
  right: 0;
  bottom: 0;
  background-color: #fff;
  overflow-x: hidden;
  color: #474747;
  transition: 0.5s;
  box-shadow: -1px -3px 16px #42424269;
  transform: translate(355px, 0px);
  @media (max-width: 575.98px) { 
    transform: translate(370px, 0px);
  }
  @media (max-width: 767.98px) {
    width: 100%;
    transform: translate(105%, 0);
    box-shadow: none;
  }
  .sidebar-header {
    h3 {
      font-size: 1.125rem;
      color: #474747;
    }
    button {
      color: #474747;
      cursor: pointer;
    }
  }
  .sidebar-body {
    .form-group {
      input, select {
        font-weight: 500;
      }
    }
  }
  .select2-container--default {
    .select2-selection--single {
      .select2-selection__rendered {
        font-weight: 500;
      }
    }
  }

}

.light-info {
  background-color: #d4e5f8!important;
}
.vertical-align-middle {
  vertical-align: middle !important;
}

.revenue-config-table {
  tr {
    td, th {
      &:nth-of-type(1) {
        width: 300px;
      }
      &:nth-of-type(2) {
        width: 105px;
      }
      &:nth-of-type(3) {
        width: 100px;
      }
      &:nth-of-type(4) {
        width: 150px;
      }
      &:nth-of-type(5) {
        text-align: center;
        width: 150px;
      }
      &:nth-of-type(6) {                                                                                                                                                                                                                                                                                    
        text-align: center;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
        width: 90px;
      }
    }
  }
  tbody {
    tr {
      td {
        &:last-of-type {
          .btn {
            span {
              &.badge-danger {
                padding: 3px 5px !important;
                font-size: 13px !important;                                                                                                                                                                                                              
              }
            }
          }
        } 
      }
    }
  }
}

.revenue-simulation {
  h5 {
    font-weight: 500;
  }
  padding: 2rem;
  color: white;
  // background: linear-gradient(135deg, $primary-color1, $primary-color2);
  background: $primary-color;
}

.nova-admin {
  &.home {
    img {
      &.img-thumbnail {
        width: 100px;
        height: auto;
      }
    }
  }
  .tile-view {
    a {
      transition: .5s;
      color: #000;
      text-decoration: none;
      padding: 1rem;
      border-radius: .5rem;
      h4 {
        font-size: .8rem;
      }
      &:hover {
        background-color: white;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      }
    }
  }
}

#pdfWrapper {
  height: 700px;

}

.nova-clients {
  &.client-detail {
    .comp-invoice-detail {
      .col {
        .card {
          min-height: 85px;
          h5 {
            font-size: 1.125rem;
          }
        }
      }
    }
    .primary-contact {
      .swiper-container {
        border-left: 3px solid #937bfc;
        .swiper-wrapper {
          .swiper-slide {
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
              position: absolute;
              left: -9999px;
            }
            
            [type="radio"]:not(:checked) + label
            {
              position: relative;
              padding: 0.125rem 0.625rem;
              cursor: pointer;
              line-height: 20px;
              display: inline-block;
              font-size: 0.75rem;
              font-weight: 500;
              color: #fff;
              background-color: #c8c8c8;
              box-shadow: inset 0px 0px 5px #b9b9b9;
              border-radius: 2px;
            }
            [type="radio"]:checked + label           
            {
              position: relative;
              padding: 0.125rem 0.625rem;
              cursor: pointer;
              line-height: 20px;
              display: inline-block;
              color: #fff;
              background-color: #00ba30!important;
              font-size: 0.75rem;
              font-weight: 500;
              box-shadow: inset 0px 0px 5px #b9b9b9;
              border-radius: 2px;
            }
            .card {
              .col {
                p {
                  width: 100%;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  &:first-of-type {
                    font-size: 0.6875rem;
                  }
                }
              }
            }
          }
        }
      }
      .swiper-button-next {
        right: 1.25rem !important;
        left: auto;
        &:after {
          content: $icon-next;
          font-family: nova!important;
        }
      }
      .swiper-button-prev {
        right: 3.4375rem !important;
        left: auto;
        &:after {
          content: $icon-prev;
          font-family: nova!important;
        }
      }
      .swiper-button-next, .swiper-button-prev {
        top: 114%;
        background: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        &:after {
          font-size: 0.75rem;
        }
      }
    }
  }
}

.create-workflow {
  .badge {
    width: 1.875rem;
    height: 1.875rem;
  }
}



.live-view {
  .contract-services {
    .accordion {
      overflow: visible;
      .btn {
        &.btn-link {
          position: absolute;
          left: -32px;
          padding: 0;
          background: #e4e4e4;
          padding: 6px;
          font-size: 11px;
          border-radius: 5px;
          line-height: 0;
          color: #7d7d7d;
          text-decoration: none;
        }
      }
      table {
        thead {
          th {                
            &:first-of-type {
              min-width: 200px;
            }
            &:nth-of-type(2) {
              min-width: 200px;
            }
            &:nth-of-type(3) {
              min-width: 200px;
            }
            &:nth-of-type(4) {
              min-width: 200px;
            }
            &:nth-of-type(4) {
              min-width: 100px;
            }
          }
        }
      }
    }
  }
}


.order-details {
  .card {
    .card-title {
      font-size: 1.5rem;
      color: $default-color;
    }
    .card-subtitle {
      color: lighten($default-color, 20%);
    }
    .card-body {
      padding: 2.5rem;
    }
    .card-footer {
      padding: 2.5rem;
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
  .map-view {
    height: 30rem;
    background-color: $light-grey;
  }
  .swiper-navigation {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 999;
    .prev-vehicle-btn, .next-vehicle-btn {
      padding: 0;
      width: 2.25rem;
      height: 2.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: $primary-color;
      &.swiper-button-disabled {
        color: $light-grey;
      }
    }
  }
  .map-navigation {
    position: absolute;
    left: 1.9375rem;
    top: 1rem;
    z-index: 999;
    .prev-location-btn, .next-location-btn {
      padding: 0;
      width: 2.25rem;
      height: 2.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: $primary-color;
      &.disabled {
        color: $light-grey;
      }
    }
  }
  .order-status-timeline {
    .timeline-item {
      flex: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      &:first-of-type {
        justify-content: flex-start;
        .timeline-item-label {
          &::before {
            display: none;
          }
        }
      }
      &:last-of-type {
        justify-content: flex-end;
        .timeline-item-label {
          &::after {
            display: none;
          }
        }
      }
      .timeline-item-label {
        font-size: 0.6875rem;
        color: $text-dark;
        font-weight: 500;
        &::before {
          content: "";
          position: absolute;
          height: 0.25rem;
          background: $light-grey;
          top: 1rem;
          left: 0;
          right: 50%;
          z-index: 0;
        }
        &::after {
          content: "";
          position: absolute;
          height: 0.25rem;
          background: $light-grey;
          top: 1rem;
          left: 50%;
          right: 0;
          z-index: 0;
        }
      }
      .timeline-item-icon {
        width: 2.25rem;
        height: 2.25rem;
        border: solid 0.25rem $light-grey;
        border-radius: 50%;
        background: white;
        position: relative;
        z-index: 1;
        &::before {
          font-family: "nova";
          content: "\e916";
          color: white;
          display: none;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }
      &.completed {
        .timeline-item-icon {
          background: $primary-green;
          &::before {
            display: flex;
          }
        }
      }
    }
  }
}

.order-documents {
  figure {
    &.figure {
      position: relative;
      width: 200px;
      .fig-img {
        min-height: 140px;
        background: #e4e4e4;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        i {
          font-size: 3.9375rem;
          color: #949696;
        }
      }
      .figure-caption {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        min-height: 103px;
        p {
          &:nth-of-type(2) {
            font-size: 0.625rem;
          }
          &:last-of-type {
            font-size: 0.625rem;
          }
        }
        i {
          position: absolute;
          right: 8px;
          font-size: 1rem;
          bottom: 10px;
        }
      }     
      .action-panel {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        z-index: 5;
        .btn {
          &.btn-icon {
            padding: 0;
            width: 2rem;
            height: 2rem;
            font-size: 1.5rem;
            background: none;
            position: relative;
            z-index: 10;
            border: none;
            color: white;
            &:focus, &:active {
              box-shadow: none;
              background: none;
              border: none;
              color: white;
              &:focus {
                box-shadow: none;
              }
            }
            i {
              line-height: 1;
              display: block;
              font-size: 1rem;
            }
            + .btn-group {
              box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
              height: 2rem;
              border-radius: 1rem;
              position: absolute;
              right: 0;
              top: 0;
              z-index: 1;
              padding: 0 2rem 0 0.5rem;
              overflow: hidden;
              background: white;
              opacity: 0;
              visibility: hidden;
              transition: 0.5s;
              .btn {
                padding: 0 0.5rem;
                height: 2rem;
                line-height: 2rem;
                border: none;
                background: none;
                color: grey;
                &:focus, &:active {
                  box-shadow: none;
                  background: none;
                  border: none;
                  color: grey;
                  &:focus {
                    box-shadow: none;
                  }
                }
                i {
                  font-size: 0.8125rem;
                  display: block;
                }
              }
            }
            &.active {
              box-shadow: none;
              background: none;
              border: none;
              color: grey;
              + .btn-group {
                transition: 0.2s;
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}

.job-orders {
  .btn-group {
    .btn {
      font-size: 0.8125rem;
      &:after {
        display: none;
      }
      i {
        font-size: 0.6875rem;
      }
    }
  }
  .order-detail {
    overflow: auto;
    .card {
      .row {
        label {
          font-size: 0.6875rem;
        }
        p {
          font-size: 0.6875rem;
        }
        .col {
          &:last-of-type {
            .border {              
              min-width: 70px;
              span {
                &:first-of-type {
                  font-size: 0.6875rem;
                }
              }
            }
          }
          .btn {
            font-size: 0.8125rem;
          }
          img {
            width: 35px;
          }
          span {
            &.badge {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
  .job-allocation-nav {
    .nav-item {
      &.active {
        background-color: $primary-color !important;
        color: white;
      }
    }
  }

  .job-allocation {
    width: 100%;
    //width: calc(100% - 920px);
  }
}


.job-allocation {
  .allocation-header {
    .btn-group {
      .btn {
        font-size: 0.8125rem;
        &:after {
          display: none;
        }
        i {
          font-size: 0.6875rem;
        }
      }
    }
  }
  .allocation-body {
    .card {
      .row {
        .col {
          &:first-of-type {
            min-width: 75px;
          }
          &:nth-of-type(2) {
            min-width: 60px;
            .text-overflow {
              max-width: 75px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          &:last-of-type {
            min-width: 248px;
            .border {              
              min-width: 70px;
              span {
                &:first-of-type {
                  font-size: 0.5625rem;
                }
              }
            }
          }
          label {
            font-size: 0.5625rem;
          }
          p {
            font-size: 0.6875rem;
          }
          .btn {
            font-size: 0.8125rem;
          }
          img {
            width: 35px;
          }
        }
      }
    }
  }
}

.job-personnel {
  .btn-group {
    .dropdown-toggle {
      font-size: 0.8125rem;
      &:after {
        display: none;
      }
      i {
        font-size: 0.6875rem;
      }
    }
  }
  .personnel-detail {
    overflow: auto;
    .addedPerson {
      .action-panel {
        display: block;
      }
    }
    .action-panel {
      display: none;
    }
    .card {
      .card-data {
        .avatar {
          width: 50px;
          height: 50px;
          min-width: 50px;
          min-height: 50px;
          float: left;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 50%;
          background-image: url(/static/images/admin-icons/vehicle-type-management.svg);
        }
        .title {
          width: 100%;
          margin: 0 0 0 9px;
          float: left;
          .col {
            &:last-of-type {
              .border {              
                max-width: 80px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                span {
                  &:first-of-type {
                    font-size: 0.625rem;
                  }
                }
              }
            }
            label {
              font-size: 0.6875rem;
            }
            p {
              font-size: 0.6875rem;
            }
            .btn {
              font-size: 0.8125rem;
            }
            img {
              width: 35px;
            }
            span {
              &.badge {
                font-size: 0.625rem;
              }
            }
          }          
        }
        .action-panel {
          position: absolute;
          right: -4px;
          top: 0px;
          z-index: 5;
          .btn {
            &.btn-icon {
              padding: 0;
              width: 2rem;
              height: 2rem;
              font-size: 1.5rem;
              background: none;
              position: relative;
              z-index: 10;
              border: none;
              color: #fff;
              &:focus, &:active {
                box-shadow: none;
                background: none;
                border: none;
                color: white;
                &:focus {
                  box-shadow: none;
                }
              }
              i {
                line-height: 1;
                display: block;
                font-size: 0.8125rem;
              }
              + .btn-group {
                box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
                height: 2rem;
                border-radius: 1rem;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
                padding: 0 2rem 0 0.5rem;
                overflow: hidden;
                background: white;
                opacity: 0;
                visibility: hidden;
                transition: 0.5s;
                .btn {
                  padding: 0 0.5rem;
                  height: 2rem;
                  line-height: 2rem;
                  border: none;
                  background: none;
                  color: grey;
                  &:focus, &:active {
                    box-shadow: none;
                    background: none;
                    border: none;
                    color: grey;
                    &:focus {
                      box-shadow: none;
                    }
                  }
                  i {
                    font-size: 0.8125rem;
                    display: block;
                  }
                }
              }
              &.active {
                box-shadow: none;
                background: none;
                border: none;
                color: grey;
                + .btn-group {
                  transition: 0.2s;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}

.job-finances {
  .btn-group {
    .dropdown-toggle {
      font-size: 0.8125rem;
      &:after {
        display: none;
      }
      i {
        font-size: 0.6875rem;
      }
    }
  }
  .finance-detail {
    .card {
      .card-data {
        .avatar {
          width: 50px;
          height: 50px;
          min-width: 50px;
          min-height: 50px;
          float: left;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 50%;
          background-image: url(/static/images/admin-icons/vehicle-type-management.svg);
        }
        .title {
          width: 100%;
          margin: 0 0 0 9px;
          float: left;
          .col {
            &:last-of-type {
              min-width: 305px;
            }
            label {
              font-size: 0.6875rem;
            }
            p {
              font-size: 0.6875rem;
            }
            .btn {
              font-size: 0.8125rem;
            }
            img {
              width: 35px;
            }
            span {
              &.badge {
                font-size: 0.625rem;
              }
            }
          }          
        }
      }
    }
  }
}

.cumulative-invoice {
  .card {
    .card-footer {
      .btn-group {
        .btn {
          font-size: 0.875rem;
        }
      }
    }
  }
}

.incident {
  .card {
    min-height: 350px;
    max-height: 350px;
    overflow-y:auto !important;
    .action-panel {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      z-index: 5;
      .btn {
        &.btn-icon {
          padding: 0;
          width: 2rem;
          height: 2rem;
          font-size: 1.5rem;
          background: none;
          position: relative;
          z-index: 10;
          border: none;
          color: white;
          &:focus, &:active {
            box-shadow: none;
            background: none;
            border: none;
            color: white;
            &:focus {
              box-shadow: none;
            }
          }
          i {
            line-height: 1;
            display: block;
            font-size: 1rem;
          }
          + .btn-group {
            box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
            height: 2rem;
            border-radius: 1rem;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            padding: 0 2rem 0 0.5rem;
            overflow: hidden;
            background: white;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            .btn {
              padding: 0 0.5rem;
              height: 2rem;
              line-height: 2rem;
              border: none;
              background: none;
              color: grey;
              &:focus, &:active {
                box-shadow: none;
                background: none;
                border: none;
                color: grey;
                &:focus {
                  box-shadow: none;
                }
              }
              i {
                font-size: 0.8125rem;
                display: block;
              }
            }
          }
          &.active {
            box-shadow: none;
            background: none;
            border: none;
            color: grey;
            + .btn-group {
              transition: 0.2s;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.serviceable-item {
  .service-item {
    .service-item-wrapper {
      .accordion {
        .card {
          overflow: visible;
          .card-header {
            .btn {
              &.btn-link {
                position: absolute;
                left: -32px;
                padding: 0;
                background: #e4e4e4;
                padding: 6px;
                font-size: 11px;
                border-radius: 5px;
                line-height: 0;
                color: #7d7d7d;
                text-decoration: none;
              }
            }
          }
          .card-body {
            table {
              thead {
                th {                
                  &:first-of-type {
                    min-width: 300px;
                  }
                  &:nth-of-type(2) {
                    min-width: 300px;
                  }
                  &:nth-of-type(3) {
                    min-width: 300px;
                  }
                  &:nth-of-type(4) {
                    min-width: 100px;
                  }
                }
              }              
            }
          }
        }
      }      
    }
  }
}

.nova-inspection-create {
  .inspection-item-create {
    .card {
      .card-header {
        .plus-btn {
          position: relative;
          left: 20px;
          background: #e4e4e4;
          padding: 6px;
          font-size: 10px;
          border-radius: 5px;
          line-height: 0;
          color: #7d7d7d;
          text-decoration: none;          
        }
      }
    }
  }
}

.nova-inspection-run-create {
  .card {
    .card-header {
      .plus-btn {
        position: relative;
        left: 20px;
        background: #e4e4e4;
        padding: 6px;
        font-size: 10px;
        border-radius: 5px;
        line-height: 0;
        color: #7d7d7d;
        text-decoration: none;
        span {
          // display: none;
          font-family: nova!important;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          &:before {
            content: "\e91c";
          }
        }
        &.collapsed {
          span {
            font-family: nova!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            &:before {
              content: "\e91d";
            }
          }
        }
      }
    }
  }
  .thumbnail {
    overflow: hidden;
    &.upload {
      border: dashed 2px #ddd;
      height: 100%;
      color: #ddd;
      i {
        font-size: 5rem;
        display: block;
        line-height: 1;
      }
      input[type="file"] {
        position: absolute;
        left: 0;
        font-size: 0;
        cursor: pointer;
        z-index: 5;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      margin: auto;
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
    .action-panel {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      z-index: 5;
      .btn {
        &.btn-icon {
          padding: 0;
          width: 2rem;
          height: 2rem;
          font-size: 1rem;
          background: none;
          position: relative;
          z-index: 10;
          border: none;
          color: white;
          &:focus, &:active {
            box-shadow: none;
            background: none;
            border: none;
            color: white;
            &:focus {
              box-shadow: none;
            }
          }
          i {
            line-height: 1;
            display: block;
          }
          + .btn-group {
            box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
            height: 2rem;
            border-radius: 1rem;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            padding: 0 2rem 0 0.5rem;
            overflow: hidden;
            background: white;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            .btn {
              padding: 0 0.5rem;
              height: 2rem;
              line-height: 2rem;
              border: none;
              background: none;
              color: $grey-text;
              &:focus, &:active {
                box-shadow: none;
                background: none;
                border: none;
                color: $grey-text;
                &:focus {
                  box-shadow: none;
                }
              }
              i {
                font-size: 1rem;
                // line-height: 1;
                display: block;
              }
            }
          }
          &.active {
            box-shadow: none;
            background: none;
            border: none;
            color: $grey-text;
            + .btn-group {
              transition: 0.2s;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.users {
  .select2-container--default {
    .select2-selection--multiple {
      .select2-selection__rendered {
        li {
          width: 100% !important;
          height: auto !important;
          word-break: break-word !important;
          line-height: 20px !important;
          white-space: initial;
        }

      } 
    }
  }
}

.vehicle-type-management,.vehicle-property  {
  table {
    tbody {
      tr {
        td {
          .overflow-data { 
            white-space: initial;
          }
        }
      }
    }
  }
}

.ui-draggable-dragging {
  .bg-light {
    font-size: 10px;
  }
}

.overflow-fix {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
}

.email-configuration {
  .select2-container--default {
    .select2-selection--multiple {
      .select2-selection__choice {
        font-size: 14px ;
        border: 1px solid #d4d4d4 ;
        background-color: #d4d4d4 ;
        color: #000 !important;
        border-radius: 5px !important;
      }
    }
  }
}



.home-menu-black {
  width: auto;
  margin: 3rem 0 0 0;
  .home-menu-item {
    background-color: black;
    display: flex;
    align-items: center;
    min-height: 145px;
    width: 100%;
    margin-bottom: .7rem;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      h1 {
        filter: grayscale(0%);
      }
    }
    h1 {
      color: #fff;
      margin: 0;
      margin-right: 4rem;
      height: 100%;
      float: left;
      padding-left: 2rem;
      font-size: 1.7rem;
      font-style: italic;
      display: flex;
      align-items: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 450px;
      min-width: 450px;
      filter: grayscale(100%);
      transition: ease 0.5s;
    }
    a {
      text-align: center;
      float: left;
      color: white;
      width: 94px;
      margin: 0 3rem;
      text-decoration: none;
      transition: ease 0.5s;
      img {
        width: 100%;
        height: auto;
      }
      h4 {
        font-size: 1rem;
        margin-bottom: 0;
      }
      &:hover {
        opacity: .8;
      }
    }
  }
}
.incidents {
  .thumbnail {
    overflow: hidden;
    &.upload {
      border: dashed 2px #ddd;
      height: 100%;
      color: #ddd;
      i {
        font-size: 5rem;
        display: block;
        line-height: 1;
      }
      input[type="file"] {
        position: absolute;
        left: 0;
        font-size: 0;
        cursor: pointer;
        z-index: 5;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      margin: auto;
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
    .action-panel {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      z-index: 5;
      .btn {
        &.btn-icon {
          padding: 0;
          width: 2rem;
          height: 2rem;
          font-size: 1rem;
          background: none;
          position: relative;
          z-index: 10;
          border: none;
          color: white;
          &:focus, &:active {
            box-shadow: none;
            background: none;
            border: none;
            color: white;
            &:focus {
              box-shadow: none;
            }
          }
          i {
            line-height: 1;
            display: block;
          }
          + .btn-group {
            box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
            height: 2rem;
            border-radius: 1rem;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            padding: 0 2rem 0 0.5rem;
            overflow: hidden;
            background: white;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            .btn {
              padding: 0 0.5rem;
              height: 2rem;
              line-height: 2rem;
              border: none;
              background: none;
              color: $grey-text;
              &:focus, &:active {
                box-shadow: none;
                background: none;
                border: none;
                color: $grey-text;
                &:focus {
                  box-shadow: none;
                }
              }
              i {
                font-size: 1rem;
                // line-height: 1;
                display: block;
              }
            }
          }
          &.active {
            box-shadow: none;
            background: none;
            border: none;
            color: $grey-text;
            + .btn-group {
              transition: 0.2s;
              opacity: 1;
              visibility: visible;
            }
          }

        }
      }
    }
  }
}